body{
    background-color: rgb(239, 253, 251);
}
.sidebar {
    width: 250px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    
    padding: 20px;

}

.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid black;
    border-width: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #eff2f6;
}

.sidebar-option:hover {
    background-color: #c8d2dc;
}

.sidebar-option img {
    width: 24px;
    height: 24px;
}

.sidebar-option p {
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    color: #283541;
}

.sidebar-option.active{
    background-color: #becbd7;
}